[submodule "fabric-completion"]
	path = fabric-completion
	url = git@github.com:underself/fabric-completion
[submodule "dependencies/fabric-completion"]
	path = dependencies/fabric-completion
	url = git@github.com:underself/fabric-completion
