snippet log "console.log"
console.log('$1');
endsnippet

snippet log= "console.log('value = %o', value)"
console.log('${1:expression} = %o', $1);
endsnippet

snippet class "an ES2015 class"
class ${1:Name} {
}
endsnippet

snippet m "an ES2015 method"
${1:name}($2) {
  $3
}
endsnippet

snippet component "a React component"
class ${1:Name} extends Component {
  $2
}
endsnippet
